version: 2
jobs:
  pr_check:
    working_directory: ~/webapp
    docker:
      - image: circleci/node:8.10.0
      - image: circleci/mysql:8.0.4
        environment:
   
    steps:
      - checkout
      - run: npm install
      - run: npm test

  build:
    working_directory: ~/webapp
    docker:
      - image: circleci/python:3.6-jessie 
    steps:
      - checkout
      
      - run:
          name: install dependencies
          command: |
            sudo apt-get update && sudo apt-get install wget zip unzip

      - run:
          name: install awscli
          command: sudo pip install awscli

      - run:
          name: Zip Artifact
          command: |
            echo "Hello the current build number is ${CIRCLE_BUILD_NUM}"
            aws configure set default.region us-east-1
            pwd
            ls -al
            mkdir -p codedeploy_artifact
            cp ./codedeploy/*.sh .
            zip -r csye6225-web-app-${CIRCLE_BUILD_NUM}.zip * *.sh *.yml *.json
            ls -al
            mv csye6225-web-app-${CIRCLE_BUILD_NUM}.zip codedeploy_artifact/
            ls -al
            pwd
            cd codedeploy_artifact
            ls -al
            pwd
            cd ..
            pwd
            ls -al

      - run:
          name: Upload Artifact to S3
          command: |

            aws s3 cp codedeploy_artifact/csye6225-web-app-${CIRCLE_BUILD_NUM}.zip s3://${S3_CODEDEPLOY_BUCKET}/deployments/csye6225-web-app-${CIRCLE_BUILD_NUM}.zip


      - run:
          name: Make CodeDeploy API call
          command: |

            aws deploy register-application-revision --application-name csye6225-webapp --s3-location bucket=${S3_CODEDEPLOY_BUCKET},bundleType=zip,key=deployments/csye6225-web-app-${CIRCLE_BUILD_NUM}.zip
            aws deploy create-deployment --application-name csye6225-webapp --deployment-config-name CodeDeployDefault.AllAtOnce --deployment-group-name csye6225-webapp-deployment --s3-location bucket=${S3_CODEDEPLOY_BUCKET},bundleType=zip,key=deployments/csye6225-web-app-${CIRCLE_BUILD_NUM}.zip



workflows:
  version: 2
  pr-check-workflow:
    jobs:
    - pr_check
  build-deploy-workflow:
    jobs:
    - build:
        filters:
            branches:
              only:
                - master
              
